# Default values for mapserver.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ''
fullnameOverride: ''

imagePullSecrets: []
replicaCount: 1

env: {}
# Inject env from configmap
# <env>:
#   name: <configMap name>
#   key: <configMap key>
configMapEnv: {}
secretEnv: {}

image:
  repository: camptocamp/mapserver
  tag: latest
  sha:
  pullPolicy: IfNotPresent

config:
  enabled: false
  folder: /etc/mutualized
  image:
    repository:
    sha:
    tag: latest
  env: {}
  # Inject env from configmap
  # <env>:
  #   name: <configMap name>
  #   key: <configMap key>
  configMapEnv: {}
  secretEnv: {}
  resources: {}

mutualizedExporter:
  enabled: true
  image:
    repository: quay.io/lusitaniae/mutualized-exporter
    # repository: bitnami/mutualized-exporter
    sha:
    tag: 0.7.0
  resources: {}

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: default

podSecurityContext:
  {}
  # fsGroup: 2000

securityContext:
  runAsNonRoot: true
  runAsUser: 33 # www-data
  readOnlyRootFilesystem: true
  # capabilities:
  #   drop:
  #   - ALL

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  annotations:
    {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths: []

  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
  {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
